aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
asyncpraw
asyncprawcore
attrs
certifi
charset-normalizer
frozenlist
idna
multidict
pillow
praw
prawcore
propcache
pyaes
pyasn1
python-dotenv
requests
rsa
speedtest-cli
telethon
typing-extensions
update-checker
urllib3
websocket-client
yarl
yt-dlp
